certifi
charset-normalizer
click
filelock
Flask
Flask-Cors
gensim
huggingface-hub
idna
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
numpy
packaging
Pillow
pyparsing
PyYAML
regex
requests
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smart-open
threadpoolctl
tokenizers
torch
torchvision
tqdm
transformers
typing_extensions
urllib3
Werkzeug
